/* [data-theme="dark"] */
html[data-theme="dark"] {
  --bg-color: #121215;
  --primary: #8d8fd2;
  --dk-text: #dfe0fb;
  --dk-subtext: #84849d;
  --card: #18181c;
  --component-s: #454254;
  --component: #2f2d36;
  --grad-base: #7d5af2;
  --gradient-1: #9172f7;
  --gradient-2: #683df7;
  --cal-indicator: invert(57%) sepia(96%) saturate(184%) hue-rotate(200deg)
    brightness(85%) contrast(93%);
}
/*  */
html[data-theme="light"] {
  --bg-color: #e4f0fa;
  --primary: #ff7c7c;
  --dk-text: #2b3c5b;
  --dk-subtext: #7a8aa3;
  --card: #e6eef8;
  --component-s: #c4cdd1;
  --component: #d3dee3;
  --grad-base: #fab187;
  --gradient-1: #fab187;
  --gradient-2: #f67575;
  --cal-indicator: invert(72%) sepia(40%) saturate(5103%) hue-rotate(314deg)
    brightness(110%) contrast(105%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
html {
  height: -webkit-fill-available;
}
body {
  background-color: var(--bg-color);
  transition: 0.2s ease-out;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}
body h2,
body h3 {
  color: var(--primary);
}
body h2 {
  font-size: 20px;
}
body h3 {
  font-size: 16px;
  color: var(--dk-subtext);
  display: flex;
  align-items: end;
  height: 25px;
}
body p {
  display: flex;
}
body p,
body span,
body i,
body q {
  color: var(--dk-subtext);
}
body input,
body textarea,
body select {
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  outline-width: 0;
  background-color: var(--component);
  color: var(--dk-text);
  resize: none;
  transition: 0.2s ease-out;
}
body input {
  height: 35px;
}
body input:focus {
  outline: none;
}
body textarea {
  height: 120px;
  padding-top: 10px;
}
body select {
  height: 35px;
  width: 100%;
  padding: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  user-select: none;
}
body button {
  transition: 0.2s ease-out;
}
body .material-symbols-rounded,
body .material-symbols-outlined {
  font-size: 18px;
}
body .material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 200, "opsz" 48;
}
.container {
  min-height: 100vh;
}
header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
  transition: 0.2s ease-out;
  user-select: none;
}
header h1 {
  color: var(--dk-text);
  font-size: 48px;
  width: 285px;
  transition: 0.2s ease-out;
}
header span {
  background: var(--grad-base);
  background: linear-gradient(
    130deg,
    var(--gradient-1) 0%,
    var(--gradient-2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s ease-out;
}
header div {
  width: 510px;
}
.hidden {
  display: none;
}
.side-menu {
  display: none;
}
.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 24px;
  padding: 0 8vw;
}
.cards .options:hover {
  color: var(--primary);
  transform: scale(1.2);
  transition: 0.2s ease-out;
}
.cards .options:active {
  transform: scale(0.9);
}
.cards .filter,
.cards .project,
.cards .task,
.cards button,
.cards .fa-plus,
.cards .theme,
.cards .add-star {
  cursor: pointer;
}
.cards .sidebar,
.cards .content {
  background-color: var(--card);
  border-radius: 24px;
  padding: 24px;
  height: 50vh;
  transition: 0.2s ease-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}
.cards .section-header {
  margin-bottom: 16px;
  user-select: none;
  transition: 0.2s ease-out;
}
.cards .sidebar {
  background-color: var(--card);
  width: 270px;
  display: flex;
  height: initial;
  flex-direction: column;
}
.cards .sidebar .filters {
  margin-bottom: 40px;
}
.cards .sidebar .filters-title-grp {
  display: flex;
  justify-content: space-between;
}
.cards .sidebar .theme {
  height: 26px;
  font-size: 24px;
  color: var(--component-s);
  user-select: none;
  transition: 0.2s ease-out;
}
.cards .sidebar .theme:hover {
  transform: scale(1.03);
  color: var(--primary);
}
.cards .sidebar .theme:active {
  transform: scale(0.97);
}
.cards .sidebar .filter {
  height: 32px;
}
.cards .sidebar .filter .fa-star {
  padding: 1px;
  width: 18px;
}
.cards .sidebar .filter,
.cards .sidebar .project {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  user-select: none;
}
.cards .sidebar .filter i,
.cards .sidebar .project i {
  margin-right: 6px;
}
.cards .sidebar .filter p,
.cards .sidebar .project p {
  user-select: none;
  pointer-events: none;
}
.cards .sidebar .filter,
.cards .sidebar .project-name {
  font-size: 14px;
}
.cards .sidebar .projects-header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.cards .sidebar .projects-header i {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  transition: 0.2s ease-out;
  color: var(--component-s);
}
.cards .sidebar .projects-header .plus:hover {
  color: var(--primary);
  transform: scale(1.1);
}
.cards .sidebar .projects-header .rotated {
  transform: rotate(45deg);
  transition: 0.2s ease-out;
}
.cards .sidebar .projects-header .rotated:hover {
  color: var(--primary);
}
.cards .sidebar .projects {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.cards .sidebar .project-grp {
  overflow-x: hidden;
  margin-bottom: 16px;
  width: 100%;
}
.cards .sidebar .project-grp i {
  font-size: 14px;
}
.cards .sidebar .project {
  display: flex;
  height: 32px;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  opacity: 1;
  transition: 0.2s ease-out;
}
.cards .sidebar .project .folder {
  pointer-events: none;
}
.cards .sidebar .project .project-name {
  width: 10vw;
  overflow-x: hidden;
}
.cards .sidebar .project .project-btn-grp {
  margin-left: auto;
  display: flex;
}
.cards .sidebar .project .project-btn-grp i {
  font-size: 16px;
}
.cards .sidebar .project .project-btn-grp .options {
  opacity: 0;
}
.cards .sidebar .project .project-btn-grp .edit-p {
  margin-right: 8px;
}
.cards .sidebar .project .project-btn-grp .delete-p {
  margin-right: 0px;
}
.cards .sidebar .project:hover .project-btn-grp .options {
  opacity: 1;
}
.cards .sidebar #project-name {
  width: 100%;
  height: 32px;
  margin-bottom: 8px;
}
.cards .sidebar .github {
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.cards .sidebar .github .fa-github {
  font-size: 25px;
  transition: 0.2s ease-out;
}
.cards .sidebar .github .fa-github:hover {
  color: var(--primary);
}
.cards .sidebar .github .fa-github:active {
  transform: scale(0.95);
}
.cards .content {
  width: 510px;
  overflow-x: hidden;
  height: fit-content;
}
.cards .content .t-wrapper,
.cards .content .f-wrapper,
.cards .content .o-wrapper {
  height: 100%;
}
.cards .content .t-wrapper {
  display: flex;
  flex-direction: column;
}
.cards .content .t-wrapper .title-grp {
  display: flex;
  justify-content: space-between;
}
.cards .content .t-wrapper .title-grp .current-title {
  margin-top: 6px;
  margin-right: 12px;
  font-size: 14px;
  color: #454254;
}
.cards .content .t-wrapper .no-tasks {
  color: var(--dk-subtext);
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-size: 18px;
  user-select: none;
}
.cards .content .t-wrapper .tasks {
  overflow-x: hidden;
  height: 35vh;
  padding: 2px;
}
.cards .content .t-wrapper .task {
  user-select: none;
  z-index: 0;
  border-radius: 10px;
  height: 35px;
  width: 99.5%;
  margin-bottom: 8px;
  display: flex;
  min-width: 0;
  padding-right: 10px;
  background-color: var(--component);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: 0.2s ease-out;
  cursor: default;
}
.cards .content .t-wrapper .task .hide-check {
  display: none;
}
/* .custom-checkbox input[type="checkbox"] {
  display: none;
} */

.cards .content .t-wrapper .task .checkmark {
  margin: auto 0;
  height: 32px;
  transition: 0.2s ease-out;
}
.cards .content .t-wrapper .task .checkmark:active {
  transform: scale(0.8);
}
.cards .content .t-wrapper .task .fa-circle,
.cards .content .t-wrapper .task .fa-circle-check {
  height: 32px;
  padding: 0 14px;
  display: flex;
  align-items: center;
}
.cards .content .t-wrapper .task .task-title {
  display: block;
  height: 35px;
  width: 75%;
  padding-right: 8px;
  border: none;
  line-height: 35px;
  font-size: 14px;
  font-weight: 300;
  user-select: none;
  color: var(--dk-text);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cards .content .t-wrapper .task input[type="checkbox"] {
  margin-right: 1vw;
}
.cards .content .t-wrapper .task div:last-of-type {
  margin-left: auto;
}
.cards .content .t-wrapper .task:hover {
  background-color: var(--component-s);
}
.cards .content .t-wrapper .task:hover .actions .edit,
.cards .content .t-wrapper .task:hover .actions .fa-regular {
  transition: 0.2s ease-out;
  opacity: 1;
}
.cards .content .t-wrapper .task .actions {
  z-index: 2;
  display: flex;
  align-items: center;
  transition: 0.2s ease-out;
  gap: 4px;
}
.cards .content .t-wrapper .task .actions .options {
  height: 100%;
  display: flex;
  align-items: center;
}
.cards .content .t-wrapper .task .actions i {
  transition: 0.2s ease-out;
}
.cards .content .t-wrapper .task .actions .edit {
  opacity: 0;
  width: 30px;
  display: flex;
  justify-content: center;
}
.cards .content .t-wrapper .task .actions span {
  display: flex;
}
.cards .content .t-wrapper .task .actions .fa-regular {
  opacity: 0;
}
.cards .content .t-wrapper .task .actions .fa-solid {
  color: var(--dk-subtext);
}
.cards .content .f-wrapper {
  display: none;
}
.cards .content .f-wrapper .task-form {
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cards .content .f-wrapper .task-form .form-header {
  margin-top: 24px;
}
.cards .content .f-wrapper .task-form #task {
  height: 36px;
}
.cards .content .f-wrapper .task-form #note {
  height: 15vh;
  padding: 10px;
}
.cards .content .f-wrapper .task-form .extras-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.cards .content .f-wrapper .task-form .extras {
  width: 45%;
}
.cards .content .f-wrapper .task-form input[type="date"] {
  width: 100%;
  padding: 0 5px 0 10px;
  user-select: none;
}
.cards
  .content
  .f-wrapper
  .task-form
  input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 16px;
  transition: 0.2s ease-out;
  filter: var(--cal-indicator);
}
.cards
  .content
  .f-wrapper
  .task-form
  input[type="date"]::-webkit-calendar-picker-indicator:hover {
  scale: 1.1;
  filter: var(--cal-indicator);
}
.cards .content .f-wrapper .task-form .fa-star {
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 6px;
  width: 30px;
  display: flex;
  justify-content: center;
  transition: 0.2s ease-out;
  color: var(--primary);
}
.cards .content .f-wrapper .task-form .fa-star:hover {
  transform: scale(1.1);
}
.cards .content .f-wrapper .task-form .fa-star:active {
  transform: scale(0.9) rotate(72deg);
}
.cards .content .f-wrapper .task-form .fa-regular {
  font-size: 20px;
}
.cards .content .f-wrapper .task-form .starred {
  transition: 0.2s ease-out;
}
.cards .content .f-wrapper .task-form .btn-group {
  margin-top: auto;
  display: flex;
}
.f-wrapper .btn-groups {
  margin-top: auto;
  display: flex;
  position: relative;
  top: 0.5rem;
}
.cards .content .f-wrapper .task-form .back-btn {
  background-color: var(--card);
  border: none;
  color: var(--dk-text);
  font-size: 30px;
}

.back-button {
  background-color: var(--card);
  border: none;
  color: var(--dk-text);
  font-size: 30px;
  position: relative;
  left: -45%;
  top: -2rem;
}

.strike-through {
  text-decoration: line-through !important;
}
.cards .content .f-wrapper .task-form .submit-btn {
  width: 130px;
  height: 40px;
  border-radius: 30px;
  border: none;
  margin-left: auto;
  font-size: 16px;
  color: var(--dk-text);
  background: var(--grad-base);
  background: linear-gradient(
    160deg,
    var(--gradient-1) 0%,
    var(--gradient-2) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: 0.2s ease-out;
  user-select: none;
}
.cards .content .f-wrapper .task-form .submit-btn:hover {
  transform: scale(1.02);
}
.cards .content .f-wrapper .task-form .submit-btn:active {
  transform: scale(0.97);
}
.cards .content .o-wrapper {
  display: none;
}
.cards .content .o-wrapper .expand-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  user-select: none;
}
.cards .content .o-wrapper .expand-view .expand-header {
  margin-bottom: 24px;
}
.cards .content .o-wrapper .expand-view .expand-header .project-grp {
  display: flex;
  margin-top: 2px;
}
.cards .content .o-wrapper .expand-view .expand-header .project-grp i {
  font-size: 20px;
  margin-right: 6px;
}
.cards .content .o-wrapper .expand-view .expand-header .project-grp p {
  font-size: 16px;
}
.cards .content .o-wrapper .expand-view .open-title-header {
  display: flex;
  justify-content: space-between;
  margin: 8px 16px;
  transition: 0.2s ease-out;
}
.cards .content .o-wrapper .expand-view .open-title-header .fa-star {
  font-size: 24px;
  color: var(--primary);
}
.cards .content .o-wrapper .expand-view .note-wrapper {
  margin: 8px 16px 0 16px;
}
.cards .content .o-wrapper .expand-view hr {
  height: 4px;
  background: var(--primary);
  border: none;
  border-radius: 2px;
}
.cards .content .o-wrapper .expand-view #open-title {
  font-size: 18px;
  color: var(--dk-text);
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards .content .o-wrapper .expand-view #open-note {
  color: var(--dk-subtext);
  display: block;
  font-size: 16px;
  white-space: pre-line;
  height: 27vh;
  overflow: auto;
  padding-top: 8px;
}
.cards .content .o-wrapper .expand-view #open-note::-webkit-scrollbar-corner {
  color: transparent;
}
.cards .content .o-wrapper .expand-view .bot-note-line {
  display: none;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 0;
}
.cards .content .o-wrapper .expand-view .visible {
  display: block;
}
.cards .content .o-wrapper .expand-view .extras-wrapper {
  margin-top: auto;
  padding: 0 16px 8px 8px;
  display: flex;
  justify-content: space-between;
}
.cards .content .o-wrapper .expand-view .extras {
  display: flex;
  align-items: center;
}
.cards .content .o-wrapper .expand-view .extras .open-date {
  color: var(--primary);
  font-weight: 500;
}
.cards .content .o-wrapper .expand-view .btn-group {
  margin-top: auto;
}
.cards .content .o-wrapper .expand-view .btn-group .back-btn {
  background-color: var(--card);
  border: none;
  color: var(--dk-text);
  font-size: 30px;
}
.cards .content .add-btn {
  margin-top: auto;
  width: 130px;
  height: 40px;
  border-radius: 24px;
  border: none;
  margin-left: auto;
  font-size: 16px;
  color: var(--dk-text);
  background: var(--grad-base);
  background: linear-gradient(
    160deg,
    var(--gradient-1) 0%,
    var(--gradient-2) 100%
  );
  transition: 0.2s ease-out;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 15px 0px;
  user-select: none;
}
.cards .content .add-btn:hover {
  transform: scale(1.02);
}
.cards .content .add-btn:active {
  transform: scale(0.98);
}
.slide-tasks-in {
  animation: ease-out taskRight reverse 0.1s;
}
.slide-tasks-out {
  animation: ease-out taskRight 0.1s;
}
@keyframes taskRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120%);
  }
}
.slide-form-in {
  animation: ease-out formRight 0.1s;
}
.slide-form-out {
  animation: ease-out formRight reverse 0.1s;
}
@keyframes formRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes formVertical {
  0% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes formVerticall {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appearForm {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .side-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 80px;
    height: 45px;
    cursor: pointer;
  }
  .side-menu .menu-icon {
    width: 40px;
    height: 45px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  .side-menu .menu-grp {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 13px;
  }
  .side-menu .menu-grp .menu-line {
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    background: var(--component);
    background-color: var(--primary);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  }
  .side-menu .menu-grp .menu-line:first-of-type {
    top: 0;
  }
  .side-menu .menu-grp .menu-line:last-of-type {
    bottom: 0;
  }
  .side-menu.active .menu-line:first-of-type,
  .side-menu .menu-icon:checked + div .menu-line:first-of-type {
    transform: rotate(45deg);
    top: 5px;
  }
  .side-menu.active .menu-line:last-of-type,
  .side-menu .menu-icon:checked + div .menu-line:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
  }
  .blurred {
    filter: blur(4px);
  }
  html,
  body,
  .container {
    /* overflow: hidden; */
    min-height: -webkit-fill-available;
  }
  header {
    height: 110px;
  }
  select {
    font-size: 11px;
  }
  input[type="date"] {
    font-size: 11px;
  }
  /* .cards .content .f-wrapper .task-form #task, */
  /* select#projects, */
  input[type="date"] {
    height: 32px;
    font-size: 12px;
  }
  .section-header {
    font-size: 18px;
  }
  .form-header,
  .form-title-header {
    font-size: 16px;
  }
  .cards .sidebar .filter,
  .cards .sidebar .project {
    font-size: 13px;
  }
  .cards .sidebar .projects-header {
    overflow-x: hidden;
  }
  .cards .sidebar .project .project-name {
    font-size: 13px;
    width: 140px;
  }
  .cards .content .add-btn {
    font-size: 14px;
  }
  .cards .content .f-wrapper .task-form .form-header {
    margin-top: 14px;
    margin-bottom: 10px;
  }
  .cards .content .f-wrapper .task-form .fa-star {
    margin-top: 50px;
  }
  .cards .content .f-wrapper .task-form #note {
    height: 20vh;
    font-size: 12px;
  }
  .cards .content .f-wrapper .task-form .extras-wrapper {
    margin-bottom: 20px;
  }
  .cards .content .f-wrapper .task-form .fa-regular {
    font-size: 24px;
  }
  .cards .content .f-wrapper .expand-view .expand-header {
    margin-bottom: 8px;
  }
  .cards .content .f-wrapper .expand-view .expand-header .project-grp p {
    font-size: 14px;
    margin-top: 1px;
  }
  .cards .content .f-wrapper .expand-view .expand-header .project-grp i {
    font-size: 18px;
  }
  .cards .content .t-wrapper .task .task-title {
    font-size: 11px;
    cursor: pointer;
  }
  .cards .content .t-wrapper .no-tasks {
    font-size: 16px;
  }
  .cards .content .o-wrapper .expand-view #open-title {
    width: 215px;
    font-size: 16px;
    margin-top: 4px;
  }
  .cards .content .o-wrapper .expand-view #open-note {
    font-size: 14px;
    height: 35vh;
  }
  .cards .sidebar,
  .cards .content {
    height: 70vh;
  }
  .cards .mobile-stretch {
    transition: 0s;
    margin-top: 5vh;
    height: 60vh;
  }
  .cards .sidebar {
    display: none;
  }
  .header {
    opacity: 0;
    height: 0;
  }
  .filtersHide {
    display: none;
  }
}

.show {
  transition: all 0.2s ease-out 0s;
  background-color: var(--component);
}

.emptyBox {
  position: relative;
  top: 30%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 2rem;
  align-items: center;
}

.emptyBox img {
  opacity: 20%;
  width: 30%;
}

.mask-emoji {
  display: inline-block;
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><text y="50%" font-size="24">🌟</text></svg>');
  mask-size: contain;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><text y="50%" font-size="24">🌟</text></svg>');
  -webkit-mask-size: contain;
  background-color: #84849d;
  width: 1em;
  height: 1em;
}
